.*
_*
/*
*.user
*.pdb
!/.gitignore
!/.gitattributes
!/.editorconfig
!/*.md
!/*.sln
!/source/
/source/bin
/build
/source/obj
/source/obj
*.dll
source/0Harmony.dll
source/Context/model.onnx
source/Context/vocab.txt
source/-/1.6/runtimes/linux-x64/native/libonnxruntime.so
source/-/1.6/runtimes/linux-x64/native/libonnxruntime_providers_shared.so
source/-/1.6/runtimes/osx-x64/native/libonnxruntime.dylib