.*
_*
/*
*.user
*.pdb
!/.gitignore
!/.gitattributes
!/.editorconfig
!/*.md
!/*.sln
!/source/
!/build/
/source/bin
/build/Bubbles/Assemblies
/build
/source/obj
/source/obj
*.dll
source/0Harmony.dll
source/Context/model.onnx
source/Context/vocab.txt
source/-/runtimes/osx-x64/native/libonnxruntime.dylib
source/-/runtimes/linux-x64/native/libonnxruntime.so
source/-/runtimes/linux-x64/native/libonnxruntime_providers_shared.so
